[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pandas = "*"
pytest = "*"
requests = "*"

[packages]
flask = "*"
spyder-kernels = "==0.*"
seaborn = "*"
numpy = "*"

[requires]
python_version = "3.7"
